<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="../../Styles/global.css">

  <title>Green Blog</title>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-primary-color nav-border">
    <a class="navbar-brand" href="#">
      <img style="margin-right: 10px;" src="../../Content/Icons/leaf.svg" alt="Leaf-icon" width="25px" height="25px">
      Green Blog
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse font-color" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="../../index.html">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../Posts/posts.html">Posts</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="./sobre.html">Sobre nós</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <h4 style="margin-top: 24px;" class="text-center">
      Sobre Nós
    </h4>

    <div class="row">
      <img class="img-sobre" src="../../Content/Images/unasp-logo.png">
      <div class="col-12">
        <p style="text-align: justify; margin-top: 20px;">
          Somos um grupo de alunos do 4º semestre do curso de Ciências da Computação e este blog é referente ao Projeto
          Integrador 2020 ministrado pelo professor Cristiano Benites. Os integrantes do grupo são: Lucas Rufo de
          Oliveira, Daniel Santos e Letícia Ferreira.
          <br>
          <br>
          O tema do projeto integrador era Sustentabilidade e Inovação Social, então optamos por focar na área da
          Sustentabilidade e montar esse blog, para podermos divulgar informações e artigos úteis sobre o assunto.
          <br>
          <br>
          O Blog foi feito utilizando apenas HTML, CSS e Jquery e está hospedado no GitHub Pages.
          <br>
          <br>
          <a target="blank" href="https://github.com/LucasRufo/green-blog">Link do Repositório</a>
      </div>
      </p>
    </div>


  </div>

  <footer style="font-size: 14px;" class="page-footer font-small teal pt-4 footer-custom footer-absolute">
    <div class="container text-center text-md-left">
      <div class="row">
        <div class="col-md-6 mt-md-0 mt-3">
          <h6 class="text-uppercase font-weight-bold">Nossos Posts</h6>
          <p>
            Quer ter acesso a conteúdo de rápida leitura e de qualidade? Acesse nossa aba <a href="../Posts/posts.html">Posts</a>
          </p>
        </div>
        <hr class="clearfix w-100 d-md-none pb-3">
        <div class="col-md-6 mb-md-0 mb-3">
          <h6 class="text-uppercase font-weight-bold">Sobre nós</h6>
          <p>
            Caso queira conhecer um pouco mais do grupo por trás do Green Blog, acesse nossa aba <a href="./sobre.html">Sobre
              nós</a>
          </p>
        </div>
      </div>
      <hr style="background-color: white;">
      <div class="footer-copyright text-center py-3">
        Desenvolvido por um grupo de alunos do 4º semestre de Ciências da Computação do Unasp - Campus São Paulo
      </div>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>