<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="../../Styles/global.css">

  <title>Green Blog</title>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-primary-color nav-border">
    <a class="navbar-brand" href="#">
      <img style="margin-right: 10px;" src="../../Content/Icons/leaf.svg" alt="Leaf-icon" width="25px" height="25px">
      Green Blog
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse font-color" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="../../index.html">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="./posts.html">Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../Sobre/sobre.html">Sobre nós</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <h4 style="margin-top: 24px;" class="text-center">
      Green IT
    </h4>

    <div class="text-center" style="margin: 36px 0;">
      <img class="card-img-top post-image" style="border-radius: 8px;" src="../../Content/Images/post-01.svg"
        alt="Card image cap">
    </div>

    <p>
      Você já ouviu falar em Green IT? Essa prática é uma nova tendência nas empresas de Tecnologia da Informação
      (TI) que promete trazer muitos benefícios para a sua empresa.
    </p>

    <p>
      Hoje vamos ver o que é Green IT, como é possível implementar a tecnologia verde e a importância que ela tem
      para o seu negócio.

      O Green IT, que também pode ser chamado de Tecnologia Verde ou ainda de TI Verde, surgiu em um contexto de
      crescimento tecnológico e também de aumento do consumo.
    </p>

    <p>
      Hoje Vivemos em um mundo virtual. Temos a necessidade de estar conectado praticamente o tempo todo.

      Como consequência, tem-se um consumo muito grande de tecnologias. As pessoas precisam dos seus celulares todos
      os dias, as empresas de seus hardwares e softwares.
    </p>

    <p>
      Nos últimos 20 anos, a preocupação com os resíduos eletrônicos aumentou de forma significativa com o consumo de
      tecnologia. Dessa forma, é impossível não pensar no meio ambiente.

      O impacto das tecnologias na natureza é expressivo, por isso não podemos ignorar o que o descarte que fazemos da
      tecnologia afeta nosso ecossistema.
    </p>

    <p>
      Para entendermos mais sobre o assunto, vamos ao conceito Green IT.
    </p>

    <p>
      <b> O que é Green IT?</b>
    </p>

    <p>
      Green IT é um conjunto de práticas no setor de TI que estuda o uso dos recursos da computação de uma maneira
      eficiente e limpa.

      A prática de Green IT conta com mudanças nas tecnologias utilizadas, na destinação do lixo eletrônico e até
      mesmo no layout empresarial.
    </p>

    <p>
      O Green IT tem como objetivo trazer uma nova mentalidade para dentro das empresas: a consciência das práticas
      que podemos adotar para reduzir o impacto negativo que causamos na natureza.

      No contexto empresarial, é necessário que a inovação ande junto com a estratégia, visto que essas mudanças
      acabam alterando a cultura organizacional da empresa.
    </p>

    <p>
      Para que essa mudança de fato ocorra, e gere resultados positivos, é importante que toda a sua equipe de
      trabalho esteja alinhada com essa nova mentalidade.

      Esse conceito de tecnologia verde faz parte de um movimento muito maior de conscientização dos danos que o nosso
      estilo de vida causa ao meio em que vivemos, bem como as mudanças que podemos fazer diante disso.
    </p>

    <p>
      <b> Saiba ainda hoje como implementar práticas de Green IT na sua empresa</b>

      Para pensarmos em passos práticos em relação às tecnologias utilizadas, o Green IT busca fazer algumas
      alterações como as que vamos listar a seguir.
    </p>

    <ul>
      <li>Otimização dos sistemas de fornecimento de energia dos Data Centers;</li>
      <li>Melhoria da eficiência dos sistemas de refrigeração dos Data Centers;</li>
      <li>Uso do cloud computing;</li>
      <li>Virtualização dos servidores e softwares;</li>
      <li>Adoção do acesso remoto;</li>
      <li>Utilização de SaaS;</li>
      <li>Realização de backups na nuvem.</li>
      <li>Lembre-se que até mesmo uma simples janela pode eliminar o uso excessivo do ar condicionado e luzes nas salas.
      </li>
    </ul>

  </div>

  <footer style="font-size: 14px;" class="page-footer font-small teal pt-4 footer-custom ">
    <div class="container text-center text-md-left">
      <div class="row">
        <div class="col-md-6 mt-md-0 mt-3">
          <h6 class="text-uppercase font-weight-bold">Nossos Posts</h6>
          <p>
            Quer ter acesso a conteúdo de rápida leitura e de qualidade? Acesse nossa aba <a
              href="./posts.html">Posts</a>
          </p>
        </div>
        <hr class="clearfix w-100 d-md-none pb-3">
        <div class="col-md-6 mb-md-0 mb-3">
          <h6 class="text-uppercase font-weight-bold">Sobre nós</h6>
          <p>
            Caso queira conhecer um pouco mais do grupo por trás do Green Blog, acesse nossa aba <a
              href="../Sobre/sobre.html">Sobre
              nós</a>
          </p>
        </div>
      </div>
      <hr style="background-color: white;">
      <div class="footer-copyright text-center py-3">
        Desenvolvido por um grupo de alunos do 4º semestre de Ciências da Computação do Unasp - Campus São Paulo
      </div>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>