<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="../../Styles/global.css">
  <link rel="stylesheet" href="../../Styles/posts.css">

  <title>Green Blog</title>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-primary-color nav-border">
    <a class="navbar-brand" href="../../index.html">
      <img style="margin-right: 10px;" src="../../Content/Icons/leaf.svg" alt="Leaf-icon" width="25px" height="25px">
      Green Blog
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse font-color" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="../../index.html">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="./posts.html">Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../Sobre/sobre.html">Sobre nós</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <h4 style="margin-top: 24px;" class="text-center">
      Energia Solar
    </h4>

    <div class="text-center" style="margin: 36px 0;">
      <img class="card-img-top post-image" src="../../Content/Images/post-04.svg" alt="Card image cap">
    </div>

    <p>
      Energia solar corresponde à energia proveniente da luz e do calor emitidos pelo Sol. Essa fonte de energia pode
      ser
      aproveitada de forma fotovoltaica ou térmica, gerando energia elétrica e térmica, respectivamente. Por ser
      considerada uma fonte de energia limpa, a energia solar é uma das fontes alternativas mais promissoras para
      obtenção
      energética.
    </p>

    <p>
      Como funciona a energia solar?
    </p>

    <p>
      A energia solar, como o próprio nome indica, refere-se à energia cuja fonte é o Sol. Sua captação pode ser feita
      por
      meio de diversas tecnologias, como painéis fotovoltaicos, usinas heliotérmicas e aquecedores solares.
    </p>

    <p>
      Basicamente, ao ser captada, a luz solar é convertida em energia. Nos painéis fotovoltaicos e nas usinas
      heliotérmicas, a luz solar é convertida em energia elétrica e térmica. Já no aquecimento solar, a luz solar é
      convertida em energia térmica.
    </p>

    <p>
      Tipos de energia solar
      A energia solar pode ser usada na produção de energia elétrica por meio de dois sistemas: heliotérmico e
      fotovoltaico.
    </p>

    <p>
      <b>
        Energia solar fotovoltaica
      </b>
    </p>

    <p>
      Energia solar fotovoltaica nada mais é do que a conversão direta da radiação solar em energia elétrica. Essa
      conversão é realizada pelas chamadas células fotovoltaicas, compostas por material semicondutor, normalmente o
      silício. Ao incidir sobre as células, a luz solar provoca a movimentação dos elétrons do material condutor,
      transportando-os pelo material até serem captados por um campo elétrico (formado por uma diferença de potencial
      existente entre os semicondutores). Dessa forma, gera-se eletricidade.
    </p>

    <p>
      Constituído por painéis, módulos e equipamentos elétricos, o sistema fotovoltaico não exige um ambiente com alta
      radiação para funcionar. No entanto, a quantidade de energia produzida depende da densidade das nuvens, ou seja,
      quanto menos nuvens houver no céu, maior será a produção de eletricidade.
    </p>

    <p>
      Essa forma de obtenção de energia, uma das mais promissoras atualmente, vem crescendo cada vez mais em virtude da
      redução dos preços e dos incentivos oferecidos para que os países adotem fontes renováveis de energia.
    </p>

    <p>
      <b>
        Aproveitamento de energia
      </b>
    </p>

    <p>
      Os painéis solares captam a radiação solar, transformando-a em energia que abastece as residências.
    </p>

    <p>
      Energia solar heliotérmica
    </p>

    <p>
      No sistema heliotérmico, a energia proveniente do Sol é transformada em calor, aquecendo, principalmente, a água
      de
      residências, hotéis e clubes. Para que isso seja possível, são utilizados painéis solares (espelhos, coletores,
      helióstatos), que refletem a luz solar, concentrando-a em um único ponto no qual há um receptor.
    </p>

    <p>
      O receptor é constituído por um líquido, que é aquecido pela luz solar refletida nos painéis. Esse líquido é
      responsável pelo armazenamento de calor, aquecendo a água nas usinas e, assim, produzindo vapor. Esse vapor
      movimenta as turbinas nas usinas, provocando o acionamento de geradores, que produzem energia elétrica.
    </p>

    <p>
      Regiões com grande incidência solar, poucas nuvens e terrenos planos são próprias para produção de energia solar
      heliotérmica. No Brasil, as regiões Nordeste, Centro-Oeste e Sudeste destacam-se na produção desse tipo de energia
      solar.
    </p>

  </div>

  <footer style="font-size: 14px;" class="page-footer font-small teal pt-4 footer-custom ">
    <div class="container text-center text-md-left">
      <div class="row">
        <div class="col-md-6 mt-md-0 mt-3">
          <h6 class="text-uppercase font-weight-bold">Nossos Posts</h6>
          <p>
            Quer ter acesso a conteúdo de rápida leitura e de qualidade? Acesse nossa aba <a
              href="./posts.html">Posts</a>
          </p>
        </div>
        <hr class="clearfix w-100 d-md-none pb-3">
        <div class="col-md-6 mb-md-0 mb-3">
          <h6 class="text-uppercase font-weight-bold">Sobre nós</h6>
          <p>
            Caso queira conhecer um pouco mais do grupo por trás do Green Blog, acesse nossa aba <a
              href="../Sobre/sobre.html">Sobre
              nós</a>
          </p>
        </div>
      </div>
      <hr style="background-color: white;">
      <div class="footer-copyright text-center py-3">
        Desenvolvido por um grupo de alunos do 4º semestre de Ciências da Computação do Unasp - Campus São Paulo
      </div>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>