<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="../../Styles/global.css">
  <link rel="stylesheet" href="../../Styles/posts.css">

  <title>Green Blog</title>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-primary-color nav-border">
    <a class="navbar-brand" href="../../index.html">
      <img style="margin-right: 10px;" src="../../Content/Icons/leaf.svg" alt="Leaf-icon" width="25px" height="25px">
      Green Blog
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse font-color" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="../../index.html">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="./posts.html">Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../Sobre/sobre.html">Sobre nós</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <h4 style="margin-top: 24px;" class="text-center">
      Recusos naturais e Sustentabilidade
    </h4>

    <div class="text-center" style="margin: 36px 0;">
      <img class="card-img-top post-image" src="../../Content/Images/post-06.svg" alt="Card image cap">
    </div>

    <p>
      Nos tempos atuais a Sustentabilidade passou a ser palavra de ordem em quase todas as atividades humanas, mas o
      verdadeiro conceito de sustentabilidade passa muito longe do que efetivamente tem sido visto como modelos
      sustentáveis. Lima (2015), comentou sobre o fato do conceito de sustentabilidade ser usado indevidamente, chamando a
      atenção para uma possível ação programada para tentar enganar a população e desvirtuar a essência do conceito.
    </p>

    <p>
      Entretanto, além das falcatruas e dos embusteiros, ainda existe realmente muita dificuldade de entender o conceito
      de sustentabilidade por grande parte da população e assim, muitas pessoas acabam confundindo as coisas em nome da
      sustentabilidade. É claro que aqui também existem os aproveitadores, que se utilizam dessa condição, mas, por outro
      lado, também existem aqueles que até querem ajudar e pensam que estão fazendo certo e, se até fazem errado,
      certamente é por falta de conhecimento em consequência principalmente da má informação.
    </p>
      
    <p>
      Nesse sentido está se e propondo a fazer uma pequena síntese do atual estado de coisas sobre aplicação correta do
      conceito de sustentabilidade, para que se possa ter uma verdadeira imagem do que acontece e do que deveria estar
      acontecendo em benefício do planeta e da sociedade. Alguns conceitos se tornam necessários para que eu possa dar
      andamento ao que quero dizer e por isso mesmo os cinco termos (expressões) presentes no título serão objetivamente
      definidos. Não há pretensão de que paire dúvidas sobre o que está efetivamente se querendo dizer e por isso mesmo, é
      preciso que sejam esclarecidas e clarificadas todas as questões conceituais.
    </p>

    <p>  
      Nesse sentido, é preciso que sejam apresentados e discutidos as principais palavras chaves envolvidas na questão da
      sustentabilidade, para que se possa ter um parâmetro comparável e se possa compreender o sentido exato dos termos e
      as possibilidades concretas de aplicação da noção de sustentabilidade nas práticas antrópicas. Também é discutido o
      fato de que a sustentabilidade é uma necessidade premente para a manutenção e a continuidade da vida humana na
      Terra.
    </p>

    <p>
      <b>
        Sustentabilidade
      </b>
    </p>

    <p>
      A Sustentabilidade é uma palavra oriunda da ideia de Desenvolvimento Sustentável (SACHS, 1986), isto é, aquele
      desenvolvimento que se faz hoje, mas que visa garantir o amanhã. Quer dizer, a sustentabilidade implica na garantia
      de que os recursos naturais que estão sendo usados pela população hoje, deverão ser suficientes para serem usados
      pelas populações futuras, sem que haja prejuízo ambiental ou econômico. Assim, a sustentabilidade se embasa sobre
      três vertentes fundamentais: a sociedade, o meio ambiente e a economia.
    </p>

    <p>
      Só existe sustentabilidade efetiva, quando são considerados essas três vertentes de maneira equitativa e
      complementar. Mas, ainda assim, existem muitas atividades ditas sustentáveis, que na verdade não contemplam a noção
      real e efetiva de sustentabilidade. A imagem que melhor representa a ideia concreta da sustentabilidade é
      representada por três esferas que indicam o meio ambiente, a sociedade e a economia, e que se intercruzam
      equitativamente, determinando uma área de interseção. Essa área de interseção é que consiste na verdadeira
      sustentabilidad. Qualquer coisa diferente desse padrão não pode ser enquadrada totalmente dentro do
      conceito de sustentabilidade.
    </p>

    <p>
      Nos últimos anos inúmeros autores já citaram e representaram essa imagem ou algo parecido, além de terem trabalhado
      e discutido bastante sobre esse verdadeiro conceito de sustentabilidade. Há até alguns autores que são contrários à
      ideia restrita do desenvolvimento sustentável, haja vista que é impossível continuar crescendo economicamente de
      maneira infinita, dentro de um planeta que é finito (Latouche, 1994). Para esses autores a sustentabilidade
      propriamente é uma utopia econômica. Entretanto essa utopia econômica, deve ser buscada, no que se refere ao meio
      ambiente e à sociedade, para garantir a vida humana no planeta.
    </p>

    <p>
      Pensar em sustentabilidade é pensar na continuidade da vida humana, nas futuras gerações e também na manutenção de
      inúmeras espécies planetárias que convivem com a espécie humana. Agir dentro da sustentabilidade, sendo esta uma
      utopia ou não, é a única condição que poderá garantir a continuidade da vida humana no planeta Terra, pois só
      garantiremos a sociedade, se mantivermos o ambiente onde é possível mantê-la. A economia parece ser o que menos
      importa no tripé que mantém a sustentabilidade.
    </p>

    <p>
      É bom lembrar que ninguém vai resolver nada agindo da mesma maneira sempre. É preciso mudar o foco e os
      procedimentos para se resolver problemas que insistem em continuar existindo. Talvez esteja aí a grande questão
      humana: queremos sobreviver como espécie por um tempo geológico bem razoável ou queremos apenas ganhar mais e ficar
      ricos por um tempo extremamente curto?
    </p>

  </div>

  <footer style="font-size: 14px;" class="page-footer font-small teal pt-4 footer-custom ">
    <div class="container text-center text-md-left">
      <div class="row">
        <div class="col-md-6 mt-md-0 mt-3">
          <h6 class="text-uppercase font-weight-bold">Nossos Posts</h6>
          <p>
            Quer ter acesso a conteúdo de rápida leitura e de qualidade? Acesse nossa aba <a
              href="./posts.html">Posts</a>
          </p>
        </div>
        <hr class="clearfix w-100 d-md-none pb-3">
        <div class="col-md-6 mb-md-0 mb-3">
          <h6 class="text-uppercase font-weight-bold">Sobre nós</h6>
          <p>
            Caso queira conhecer um pouco mais do grupo por trás do Green Blog, acesse nossa aba <a
              href="../Sobre/sobre.html">Sobre
              nós</a>
          </p>
        </div>
      </div>
      <hr style="background-color: white;">
      <div class="footer-copyright text-center py-3">
        Desenvolvido por um grupo de alunos do 4º semestre de Ciências da Computação do Unasp - Campus São Paulo
      </div>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>