<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="../../Styles/global.css">
  <link rel="stylesheet" href="../../Styles/posts.css">

  <title>Green Blog</title>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-primary-color nav-border">
    <a class="navbar-brand" href="../../index.html">
      <img style="margin-right: 10px;" src="../../Content/Icons/leaf.svg" alt="Leaf-icon" width="25px" height="25px">
      Green Blog
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse font-color" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="../../index.html">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="./posts.html">Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../Sobre/sobre.html">Sobre nós</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <h4 style="margin-top: 24px;" class="text-center">
      Significado do Consumo sustentável
    </h4>

    <div class="text-center" style="margin: 36px 0;">
      <img class="card-img-top post-image" src="../../Content/Images/home-post-3.jpg" alt="Card image cap">
    </div>

    <p>
      <b> O que é o Consumo sustentável:</b>
    </p>

    <p>
      Consumo sustentável é a ideia de consumir produtos e serviços de modo consciente, com a intenção de evitar ou
      eliminar o desperdício e o impacto ambiental e social.
    </p>

    <p>
      Para que haja a prática do consumo sustentável é necessário que exista o desenvolvimento de uma consciência
      ecológica, quando as pessoas reconhecem o fato de que os recursos naturais são limitados e devem ser manuseados
      com responsabilidade.
    </p>

    <p>
      O conceito do consumo sustentável também prevê a progressiva reestruturação das chamadas “sociedades de consumo”,
      fazendo com que as pessoas passem a consumir apenas o necessário para a sobrevivência e bem-estar, evitando os
      desperdícios exagerados.
    </p>

    <p>
      O fortalecimento do conceito de consumo sustentável surgiu a partir da Conferência das Nações Unidas sobre o Meio
      Ambiente e Desenvolvimento, em 1992, no Rio de Janeiro. Nesta reunião foi criada a Agenda 21 Global, um documento
      que estabelece medidas e planos para melhorar os padrões de consumo no mundo, garantindo o equilíbrio ecológico do
      planeta.
    </p>

    <p>
      O chamado “consumo consciente”, “consumo verde” e o “consumo responsável” são vertentes do consumo sustentável,
      sendo que cada um está direcionado para uma diferente dimensão do consumo.
    </p>

    <p>
      <b> Práticas de consumo sustentável</b>
    </p>

    <ul>
      <li>Reciclagem de lixos materiais;</li>
      <li>Evitar o desperdício de energia elétrica e água;</li>
      <li>Utilizar sacolas ecológicas;</li>
      <li>Comprar móveis que utilizam madeiras certificadas (legalmente extraídas da natureza);</li>
      <li>Procurar utilizar fontes de energia renováveis (placas solares, por exemplo);</li>
      <li>Não consumir produtos de empresas que não tenham consciência ambiental;</li>
      <li>Evitar a aquisição de produtos testados ilegalmente em animais ou feitos sob condições precárias de trabalho;</li>
      <li>Optar por produtos locais e regionais;</li>
      <li>Valorizar a publicidade sustentável e não a consumista;</li>
      <li>Preferir os materiais virtuais que possam substituir os impressos (economizando o uso de papel);</li>
    </ul>

  </div>

  <footer style="font-size: 14px;" class="page-footer font-small teal pt-4 footer-custom ">
    <div class="container text-center text-md-left">
      <div class="row">
        <div class="col-md-6 mt-md-0 mt-3">
          <h6 class="text-uppercase font-weight-bold">Nossos Posts</h6>
          <p>
            Quer ter acesso a conteúdo de rápida leitura e de qualidade? Acesse nossa aba <a
              href="./posts.html">Posts</a>
          </p>
        </div>
        <hr class="clearfix w-100 d-md-none pb-3">
        <div class="col-md-6 mb-md-0 mb-3">
          <h6 class="text-uppercase font-weight-bold">Sobre nós</h6>
          <p>
            Caso queira conhecer um pouco mais do grupo por trás do Green Blog, acesse nossa aba <a
              href="../Sobre/sobre.html">Sobre
              nós</a>
          </p>
        </div>
      </div>
      <hr style="background-color: white;">
      <div class="footer-copyright text-center py-3">
        Desenvolvido por um grupo de alunos do 4º semestre de Ciências da Computação do Unasp - Campus São Paulo
      </div>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>