<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="../../Styles/global.css">
  <link rel="stylesheet" href="../../Styles/posts.css">

  <title>Green Blog</title>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-primary-color nav-border">
    <a class="navbar-brand" href="../../index.html">
      <img style="margin-right: 10px;" src="../../Content/Icons/leaf.svg" alt="Leaf-icon" width="25px" height="25px">
      Green Blog
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse font-color" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="../../index.html">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="./posts.html">Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../Sobre/sobre.html">Sobre nós</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <h4 style="margin-top: 24px;" class="text-center">
      Energia Eólica
    </h4>

    <div class="text-center" style="margin: 36px 0;">
      <img class="card-img-top post-image" src="../../Content/Images/post-03.svg" alt="Card image cap">
    </div>

    <p>
      A Energia Eólica é o processo pelo qual o vento é transformado em energia cinética e a partir dela em eletricidade
      com o uso de equipamentos específicos.
    </p>

    <p>
      O vento é usado como gerador de energia desde a antiguidade em sistemas como o bombeamento de água, a moagem de
      grãos e a movimentação de barcos.
    </p>

    <p>
      A ONU (Organização das Nações Unidas) classifica a energia eólica como MDL (Mecanismo de Desenvolvimento Limpo) e
      a colocou como prioridade para investimentos no incentivo à chamada economia verde.
    </p>

    <p>
      <b>
        Impactos Ambientais
      </b>
    </p>

    <p>
      Hoje, a energia eólica é a mais buscada entre as fontes de energia renováveis. É a opção às fontes não-renováveis
      que mais são utilizadas para abastecimento em todos os países.
    </p>

    <p>
      Os modelos de exploração de energia predominantes recebem críticas pelos intensos impactos ambientais que geram.

      As termoelétricas contribuem para o efeito estufa devido ao lançamento de resíduos da queima dos combustíveis,
      como madeira, óleo ou carvão vegetal.

      A fonte mais utilizada no Brasil, as hidrelétricas alagam imensas áreas e alteram o curso dos rios. Já as usinas
      nucleares, representam risco de contaminação permanente por radiação.
    </p>

    <p>
      <b>
        Com funciona o aerogerador?
      </b>
    </p>

    <p>
      A energia eólica é gerada com a movimentação de grandes turbinas conhecidas por aerogeradores, em formato de cata-vento ou de moinhos. As turbinas são instaladas em regiões onde há os ventos chamados predominantes.
    </p>

    <p>
      Seu funcionamento é basicamente feito pela transformação da energia cinética, em energia mecânica ou energia elétrica.
    </p>

    <p>
      Para entender melhor é preciso saber que o vento é o resultado de correntes de conversão na atmosfera da Terra e que são impulsionadas pela energia térmica gerada pelo Sol. Ou seja, o vento é um tipo de energia solar e quando não há Sol, ele não existe.
    </p>

    <p>
      O movimento do ar, que conhecemos como vento, surge na superfície da terrestre onde há solo e água. O calor do Sol aquece mais rápido o solo que a água e o ar aquecido é mais leve, por isso sobe. À noite, o ar sobre a água é mais quente e é substituído pelo ar mais fresco do solo.
    </p>

    <p>
      Esse movimento gera energia cinética que pode ser transformado em energia elétrica a partir da movimentação da turbinas. Os equipamentos têm duas limitações: não funcionam sem vento, obviamente, e o vento em excesso os danifica.
    </p>

    <p><b>
      Desvantagens da energia eólica
    </b></p>

    <ul>
      <li>Intermitência do vento e integração para a geração constante de energia;</li>
      <li>A instalação modifica a paisagem e o impacto visual é significativo;</li>
      <li>Poluição sonora;</li>
      <li>Impacto sobre a migração das aves.</li>
    </ul>

    <p><b>
      Curiosidades sobre a energia eólica
    </b></p>

    <ul>
      <li>O vocábulo "eólico" provém do latim Aeolicus, todavia o termo provém da mitologia grega, do deus do vento denominado Éolo.</li>
      <li>Foi na década de 70, diante da crise do petróleo, que a energia eólica adquiriu maior importância.</li>
      <li>Atualmente, 3% da energia gerada no mundo provém das fontes de energias eólicas.</li>
      <li>A energia eólica representa 10% da matriz energética dos países da União Europeia e 39% do abastecimento da Dinamarca.</li>
      <li>O nordeste brasileiro é região que apresenta o maior potencial de energia eólica no País.</li>
      <li>Desde 2010, a China é o maior produtor de energia eólica do mundo, seguida dos Estados Unidos e Alemanha.</li>
    </ul>

  </div>

  <footer style="font-size: 14px;" class="page-footer font-small teal pt-4 footer-custom ">
    <div class="container text-center text-md-left">
      <div class="row">
        <div class="col-md-6 mt-md-0 mt-3">
          <h6 class="text-uppercase font-weight-bold">Nossos Posts</h6>
          <p>
            Quer ter acesso a conteúdo de rápida leitura e de qualidade? Acesse nossa aba <a
              href="./posts.html">Posts</a>
          </p>
        </div>
        <hr class="clearfix w-100 d-md-none pb-3">
        <div class="col-md-6 mb-md-0 mb-3">
          <h6 class="text-uppercase font-weight-bold">Sobre nós</h6>
          <p>
            Caso queira conhecer um pouco mais do grupo por trás do Green Blog, acesse nossa aba <a
              href="../Sobre/sobre.html">Sobre
              nós</a>
          </p>
        </div>
      </div>
      <hr style="background-color: white;">
      <div class="footer-copyright text-center py-3">
        Desenvolvido por um grupo de alunos do 4º semestre de Ciências da Computação do Unasp - Campus São Paulo
      </div>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>