:root {
    --primary-color: #bbffbb;
    --secondary-color: #3CBE3D;
    --font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    font-size: var(--font-size);
    font-family: 'Roboto', sans-serif;
}

.bg-primary-color {
    background-color: var(--primary-color);
}

.nav-border {
    border-bottom: 1px solid var(--secondary-color);
}

.main-text {
    font-size: 18px;
    text-align: justify;
    padding: 15px;
    margin-top: 20px;
}

.image-home {
    max-width: 325px;
}

.center-image-home {
    text-align: center;
    margin-top: 20px;
}

.footer-custom {
    background-color: rgb(29, 43, 54);
    color: #FFF;
}

@media (max-width: 900px) {
    .main-text {
        font-size: 16px;
        text-align: left;
        padding: 20px;
    }
}

@media (min-width: 992px) {
    .image-home {
        max-width: 450px;
    }
}

@media (min-width: 992px) {
    .nav-border {
        height: 10vh;
    }
}